<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Ekran Yardımcısı"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProfileManager"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".AppCompatLayer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".SyncService"
            android:foregroundServiceType="specialUse"
            android:exported="false" />

    
        <activity android:name=".engine.StubActivity0"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivity1"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivity2"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivity3"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivity4"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivity5"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivity6"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivity7"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityL0"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityL1"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    
        <activity android:name=".engine.StubActivityP0"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityP1"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityP2"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityP3"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityP4"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityP5"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityP6"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityP7"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityL0"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:screenOrientation="landscape"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".engine.StubActivityL1"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:screenOrientation="landscape"
            android:exported="false"
            android:process=":sandbox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
